
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5faff;
}

#topheader {
    border: 5px solid #00b300;
    background-color: #ccffcc;
    text-align: center;
    font-weight: bold;
}

#mainbox {
    border: 3px solid #0077cc;
    background-color: #FFD700;
    padding: 20px;
    overflow: auto;
}

    .horse {
        float: right;
        width: 50%;
        
    }
        .horse img {
            width: 100%;
            height: auto;
            border-radius: 10px;


            }



    .info-box {
        float: left;
        width: 65%;
        border:  #0066cc;
        padding: 15px;
        background-color: #e6f3ff;
    }
    .points {
        line-height: 1.8;
        font-weight: 500;
    }

    .date {
        font-weight: bold;
        color: #696969;
    }
